*{
 margin: 0;
 font-family: Arial;
 border: border-box;
 background-color: whitesmoke;
}
.title{
  margin-left: 180px;
  margin-top: 150px; 
}
.image{
    height:150px;
    background-color: whitesmoke;
}
.title h1{
    font-weight: normal;
    font-size: 25px;
}
.templet{
    height:400px;
    width: 380px;
    border: 2px solid whitesmoke;
    border-radius: 8px;
    background-color: white;
    position: absolute;
    top: 180px;
    left: 800px; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.box-iteam{
    text-align: center;
    margin: 10px;
}
.box-iteam input{
   height: 50px;
   width: 325px;
   font-size:17px;
   font-weight:normal;
   background-color: white;
   margin-top: 15px;
   border-radius: 7px;
   padding-left: 15px;
   border: 2px solid rgba(235, 220, 220, 0.445); 
}
.button{
    height: 50px;
    width: 350px;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    background-color: #1877f2;
    border: none;
    border-radius: 5px;
    margin-top:20px;
}
.box-iteam p{
    height: 15px;
color:#1877f2;
font-size: 15px;
margin-top:15px;
}
.button-2{
    height: 50px;
    width: 200px;
    color: #ffffff;
    font-size: 17px;
    font-weight: bold;
    background-color: #42b742;
    border: none;
    border-radius: 7px;
    margin-top: 70px;
}
.para{
    margin-left: 820px; 
    margin-top: 260px;
    font-weight: bold;
}
.para span{
    font-weight:normal;
}


.language{
    height: 200px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.language p{
    margin-top: 200px;
    color: #8a8d91;
    background-color: white;
    justify-content: space-around;
    text-decoration: none;
    word-spacing: 8px;
    padding-left: 200px;
    padding-top: 20px;
    font-size: 13px;
}
.para2{
    margin-top:30px;
    color: #8a8d91;
    background-color: white;
    justify-content: space-around;
    text-decoration: none;
    word-spacing: 10px;
    padding-left: 200px;
   
    line-height: 1.9;
    font-size: 15px;
}
button{
    color:  #8a8d91;
    background-color: whitesmoke;
    font-weight: bold;
    font-size: 15px;
    border-radius: 2px;
   
}
